.scrollable-container {
    height: 350px; /* Adjust the height as needed */
    overflow-y: scroll;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 20px;

  
}

.list-group-item{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
}


.img-fluid{
    height: 250px;
    object-fit: cover;
}

.card-body{
    height: 350px;
    object-fit: cover;
    background-color: aliceblue;
}

body {
    background-color: rgba(183, 171, 171, 0.515);
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

h1{
    font-size:2.5rem;;
}

.navbar-brand{
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
    color: black;
}


.arrow-btn{
    background-color: rgba(62, 61, 61, 0.873);
    border-color: grey;
}

#volunteeringButton{
    background-color: rgba(62, 61, 61, 0.873);
    border-color: grey;
    font-size: 34px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav .nav-link.active {
    color: black; 
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
}



